body {
	padding: 0;
	margin: 0;
	background: #262626;
	color: #eee;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	transition: .5s;
}

.quote {
	position: absolute;
	letter-spacing: 2px;
	font-size: 2vw;
	font-weight: 1vw;
	top: 20%;
	right: 08%;
	margin-left: 6%;
	text-align: center;
	margin-right: 64%;
	opacity: 1;
}
.quotePadding {
	height: 870px;
	width: 35%;
	background: #262626;
	opacity: 0.6;
	position: absolute;
	top: 0;
	margin: 0 auto;
	left: 0;
}

.cringe {
	position: absolute;
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: 10px;
	left: 23%;
	top: 2070px;
}

.cri {
	position: absolute;
	height: 250px;
	width: 1000px;
	border-radius: 5px;
	background: #262626;
	color: #eee;
	opacity: 0.6;
	top: 2000px;
	left: 15%;
}

.line {
	letter-spacing: 3px;
	font-size: 40px;
	font-weight: 1.2vw;
	color: #eee;
	position: relative;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	left: 32%;
	top: 27%;
	opacity: 0.9;
}

.parallax1 {
	background-image: url('media/cover.jpg');
	-webkit-background-size: contain;
	height: 870px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.cloud {
	background-image: url('media/cloud.jpg');
	-webkit-background-size: contain;
	height: 870px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.paraForEyes {
	background-image: url('media/1.jpeg');
	background-size: cover;
	height: 870px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.card1 {
	height: 870px;
	overflow: hidden;
	width: 0100%;
	padding: 0px;
	border: none;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.familyQuote {
	background: -webkit-radial-gradient(center, ellipse cover, #2c5364 1%, #0f2027 100%);
	height: 870px;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.familyMsg {
	background-image: url('media/family.jpeg');
	-webkit-background-size: contain;
	height: 870px;
	overflow: hidden;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.btstheme {
	background-image: url('media/band.jpg');
	background-size: contain;
	height: 860px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.photos {
	background-image: url('media/qw.jpeg');
	background-size: contain;
	height: 860px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.cri1 {
	position: relative;
	height: 250px;
	width: 1100px;
	border-radius: 5px;
	background: #262626;
	color: #eee;
	opacity: 0.6;
	top: 30%;
	left: 15%;
}

.cringe1 {
	position: relative;
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: 10px;
	left: 27%;
	top: 70px;
}

.changes {
	position: relative;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: 10px;
	left: 17%;
	top: 70px;
	margin-right: 34%;
	text-align: center;
}

.video {
	width: 200px;
	height: 300px;
	float: right;
	top: 20%;
	left: 40%;
	position: absolute;
}

.parallax {
	background-image: url("media/final.jpg");
	height: 860px;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.cringyPadding {
	height: 20px;
	width: 20px;
	float: center;
	opacity: 0.8;
	top: 20%;
	left: 20%;
	position: relative;
}

#myVideo {
	width: 100%;
	height: 110%;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0%;
	margin-right: 0%;
	left: 0%;
	right: 0;
	display: block;
}

@media screen and (max-width: 481px) {
	.parallax1 {
		background-image: url('media/try1.jpg');
		height: 850px;
		width: 100%;
	}
	.quote {
		font-size: 20px;
		font-weight: 1.3vw;
		top: 68%;
		right: 8%;
		margin-left: 10%;
		margin-right: 2%;
		opacity: 1;
	}
	.line {
		letter-spacing: 3px;
		font-size: 20px;
		text-align: center;
		font-weight: 1.5vw;
		left: 15%;
		margin-right: 100px;
		top: 35%;
		opacity: 1;
	}

	.btstheme {
		background-image: url('media/band.jpg');
		background-size: cover;
	}

	.cringyPadding {
		height: 20px;
		width: 20px;
		float: center;
		opacity: 0.8;
		top: 20%;
		left: 20%;
		position: relative;
	}
}
