body {
	padding: 0;
	margin: 0;
	background: #eee;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	transition: .5s;
}

.quote {
	color: #262626;
	position: absolute;
	letter-spacing: 2px;
	font-size: 2em;
	font-weight: 1em;
	top: 20%;
	right: 08%;
	margin-left: 69%;
	text-align: center;
	margin-right: 2%;
	opacity: 0.8;
}

.line {
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: 1.2em;
	color: #f0f3f4;
	position: relative;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	left: 09%;
	top: 30%;
	opacity: 0.9;
}

.parallax1 {
	background-image: url('media/try1.jpg');
	height: 100%;
	overflow: hidden;
	bottom: 100%;
	width: 60%;
	object-fit: none;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.paraForEyes {
	background-image: url('media/1.jpg');
	height: 100%;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.parallax {
	background: #262626;
	height: 100%;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

#container1 {
	height: 50vh;
	width: 50vw;
	min-height: 250px;
	min-width: 300px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	perspective: 800px;
}
#box * {
	width: 400px;
	height: 400px;
	backface-visibility: visible;
	position: absolute;
	margin: 0 auto;
}

#box {
	margin-top: 30%;
	transform-style: preserve-3d;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: skew 10s linear 0s infinite;
}
.face1 {
	transform: translateZ(-200px) translateY(0px);
}
.face2 {
	transform: translateZ(200px) translateY(0px);
}

.face3 {
	transform: rotateX(90deg) translateZ(200px) translateY(0px);
}

.face4 {
	transform: rotateX(90deg) translateZ(-200px) translateY(0px);
}

.face5 {
	transform: rotateY(90deg) translateZ(-200px) translateX(0px);
}

.face6 {
	transform: rotateY(90deg) translateZ(200px) translateX(0px);
}
.color1 {
	background-image: url("1.jpg");
	width: 100vw;
}
.color2 {
	background: linear-gradient(#dbdbdb, #d2d2d2, #cecece);
}
.color3 {
	background: linear-gradient(#d0d0d0, #c7c7c7, #c2c2c2);
}
@keyframes skew {
	0% {
		transform: rotateY(0deg) rotateZ(0deg);
	}
	100% {
		transform: rotateY(360deg) rotateZ(360deg);
	}
}
