body {
	padding: 0;
	margin: 0;
	background: #eee;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	transition: .5s;
}

.quote {
	color: #262626;
	position: absolute;
	letter-spacing: 2px;
	font-size: 2vw;
	font-weight: 1vw;
	top: 20%;
	right: 08%;
	margin-left: 69%;
	text-align: center;
	margin-right: 2%;
	opacity: 0.8;
}

.cringyPadding {
	height: 200px;
	width: 1000px;
	float: center;
	padding: 30px;
	background: #262626;
	color: #eee;
	opacity: 0.6;
	top: 2000px;
	left: 15%;
	position: absolute;
}

.line {
	letter-spacing: 3px;
	font-size: 2.4vw;
	font-weight: 1.2vw;
	color: #f0f3f4;
	position: relative;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	left: 23%;
	top: 25%;
	opacity: 0.9;
}

.parallax1 {
	background-image: url('media/try1.jpg');
	-webkit-background-size: contain;
	height: 870px;
	overflow: hidden;
	bottom: 100%;
	width: 60%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.paraForEyes {
	background-image: url('media/1.jpg');
	background-size: cover;
	height: 870px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.btstheme {
	background-image: url('media/band.jpg');
	background-size: contain;
	height: 860px;
	overflow: hidden;
	bottom: 100%;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

.video {
	width: 200px;
	height: 300px;
	float: right;
	top: 20%;
	left: 40%;
	position: absolute;
}

.parallax {
	background: #262626;
	height: 860px;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	padding: 0px;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
}

#myVideo {
	width: 100%;
	height: 110%;
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0%;
	margin-right: 0%;
	left: 0%;
	right: 0;
	display: block;
}

@media screen and (max-width: 481px) {
	.parallax1 {
		background-image: url('media/try1.jpg');
		height: 850px;
		width: 100%;
	}
	.quote {
		font-size: 20px;
		font-weight: 1.3vw;
		top: 68%;
		right: 8%;
		margin-left: 10%;
		margin-right: 2%;
		opacity: 1;
	}
	.line {
		letter-spacing: 3px;
		font-size: 20px;
		text-align: center;
		font-weight: 1.5vw;
		left: 15%;
		margin-right: 100px;
		top: 35%;
		opacity: 1;
	}

	.btstheme {
		background-image: url('media/band.jpg');
		background-size: cover;
	}

	.cringyPadding {
		height: 20px;
		width: 200px;
		float: center;
		opacity: 0.8;
		top: 1800px;
		left: 20%;
		position: absolute;
	}
}
